<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.audiobenchmarkapplication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AudioBenchmarkApplication">
        <activity android:name=".ThreeHundredTwentyAudioStreamTest"></activity>
        <activity android:name=".TwoHundredFiftySixAudioStreamTest" />
        <activity android:name=".OneHundredNinetyTwoAudioStreamTest" />
        <activity android:name=".OneHundredTwentyEightAudioStream" />
        <activity android:name=".SixtyFourKbpsAudioStreamTest" />
        <activity android:name=".ThreeHundredTwentyKbpsAudioTest" />
        <activity android:name=".TwoHundredFiftySixKbpsAudioTest" />
        <activity android:name=".OneHundredNinetyTwoKbpsAudioTest" />
        <activity android:name=".OneHundredTwentyKbpsAudioTest" />
        <activity android:name=".TwentyFourKBLocalTest" />
        <activity android:name=".BluetoothEnabled" />
        <activity android:name=".LocalPlayList" />
        <activity android:name=".StreamingList" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>